body{
    background-color: beige;
}
header{
    color: blueviolet;
    text-align: center;
}
#div_01{
    font-size: 15px;
    background-color: white;
    width: 400px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
    padding: 10px;
}