body{
    text-align: center;
    margin: auto;
    font-size: 18px;
}
header{
    font-family: fantasy;
    text-shadow: 2px 2px 2px black;
    color: aliceblue;
}
#div_01{
    color: aliceblue;
}
#div_02{
    font-size: 24px;
    color: beige;
    text-shadow: 2px 2px 2px black;
}